@import "../../vars.css";

.container{
    color:var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 58px 10%;
    gap:10px;
}

.text h2{
    font-size: 80px;
    font-weight: 700px;
    letter-spacing: 4px;
    text-align: center;
}

.text p{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 50px;
}

.form{
    padding: 20px;
    font-family: var(--font-roboto-);
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 auto;
}

.form textarea{
    height: 100px;
    resize: vertical;
}

.formfield{
    margin-bottom: 15px;
}

.formfield label{
    font-family: var(--font-roboto-);
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formfield input, textarea{
    font-family: var(--font-roboto-);
    font-size: 15px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button{
    display: block;
  width: 100%;
  padding: 10px;
  background-color: #0b2447;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.form button:hover{
    background-color: white;
    color: #0b2447;
    transition-duration: 0.7s;
}

.links{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    gap: 26px;
}

.link{
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a{
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.status-message {
    margin-top: 1rem;
    color: green; /* Change color based on success or error */
  }

@media screen and (max-width:830px){
    .container{
        flex-direction: column;
        gap: 23px;
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links{
        flex-wrap: wrap;
    }
}